<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Что делаем</title>
</head>
<body>
<style>
  a:link { color: #000000;  }
</style>

<ul>
  <p th:each="user : ${_user}">
    <a th:href="@{/admin/{id}(id = ${user.getId()})}">
      <li >
        <span><b>ID:</b> </span><span th:text="${user.getId()}" ></span>;
        <span><b>Name:</b> </span><span th:text="${user.getName()}"></span>;
        <span><b>Age:</b> </span><span th:text="${user.getAge()}"></span>;
        <span><b>Email:</b> </span><span th:text="${user.getEmail()}"></span>;
        <span><b> Роль: </b></span>
        <th:block th:each="role : ${user.getRoleSet()}">
        <span th:text="${role.getName()}"> </span>
        </th:block>
      </li>
    </a>
  </p>
</ul>
<a th:href="@{/admin/new}"> New user .... </a>
<div th:replace ="include/lgt :: copy"></div>
</body>
</html>