<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
  <p th:each="user : ${_user}">
      <li >
        <span><b>ID:</b> </span><span th:text="${user.getId()}" ></span>;
        <span><b>Name:</b> </span><span th:text="${user.getName()}"></span>;
        <span><b>Age:</b> </span><span th:text="${user.getAge()}"></span>;
        <span><b>Email:</b> </span><span th:text="${user.getEmail()}"></span>;
        <span><b> Роль: </b></span>
        <th:block th:each="role : ${user.getRoleSet()}">
          <span th:text="${role.getName()}"> </span>
        </th:block>
      </li>
  </p>
</ul>
<form th:method="GET" th:action="@{/admin/{id}/edit(id = ${_user.getId()})}" th:object="${_user}">
    <input type="submit" value="Редактировать ">
</form><br>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${_user.getId()})}" th:object="${_user}">
    <input type="submit" value="Удалить ">
</form>
<div th:replace ="include/lgt :: copy"></div>




</body>
</html>